<article class="step">
    <button
        appearance="flat"
        aria-label="Закрыть онбординг"
        class="close"
        iconStart="@tui.x"
        size="xs"
        tuiIconButton
        type="button"
        (click)="onboarding.close()"
    ></button>

    <ng-content select="[tuiTitle]" />

    <div class="content">
        <ng-content />
    </div>

    <footer>
        <span>{{ onboarding.step() }} из {{ onboarding.count() }}</span>
        <ng-content select="[tuiButton]" />
    </footer>
</article>
