<div class="employee-cell">
    <span class="name">{{ travelPlan.title }}</span>

    <button
        appearance="flat"
        onboardingStepDirection="right"
        [attr.aria-label]="'Открыть заметки: ' + travelPlan.title"
        [onboardingStep]="
            travelNotesOnboarding?.isFirstStepTarget(travelPlan)
                ? onboardingStep
                : null
        "
        iconStart="@tui.message-square"
        size="xs"
        tuiIconButton
        type="button"
        (click)="openNotes()"
    ></button>
</div>
