:host {
    display: block;
    inline-size: 100%;
    overflow: visible;
}

.employee-cell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    inline-size: 100%;
    block-size: 100%;
    overflow: visible;
}

.name {
    overflow: hidden;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    position: relative;
    flex: 0 0 auto;
    margin-inline-end: 0.5rem;

    &.active-anchor {
        z-index: 901;
        background: #fff;
        box-shadow:
            0 0 0 2px #6aa5ff,
            0 0 0 4px #fff,
            0 0 0 6px #6aa5ff !important;
    }
}
